@import url("../../../styles/base.css");
@import url("../../../styles/colors.css");
@import url("../../../styles/queries.css");

.flex {
  display: flex;
  margin: 0;

  width: 100%;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  /*@media (--screen-phone-lg) {
    flex-direction: row;
  }*/
}

.header {
  padding: 0 var(--padding);
  h2 {
    font-size: 1.5em;
  }
}

.details {
  composes: flex;
  flex-direction: column;

  padding: 0 var(--padding);

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .photoStrip {
    flex: 1;
    display: flex;
    overflow: auto;
    img {
      margin: 0 1px;
    }
  }
}
